/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #F3ECC2;
}

header {
	display: flex;
	align-items: center;
	margin: 2%;
	justify-content: space-evenly;
}

h1 {
	color: #005D6E;
	font-family: “Arial”, sans-serif;
	font-weight: bold;
	font-size: 40px;
}

h1 a{
    text-decoration: none;
    color: #005D6E;
}

.title{
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

nav {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

nav a {
	text-decoration: none;
	color: #14B1AB;
	font-family: “Arial”, sans-serif;
	font-size: 24px;
}

h2 {
	color: #3E3E3E;
	font-family: “Arial”, sans-serif;
	font-weight: bold;
	font-size: 60px;
}

p {
	color: #FF7777;
	font-family: “Arial”, sans-serif;
	font-size: 25px;
}

.how-to-info {
	display: flex;
	margin: 10%;
	padding: 4%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section h2 {
	padding-bottom: 3%;
}

h4 {
	color: #FF7777;
	font-family: “Arial”, sans-serif;
	font-size: 20px;	
}

h5 {
	color: #3E3E3E;
	font-family: “Arial”, sans-serif;
	font-size: 16px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer img {
	padding-left: 1rem;
	margin-top: 10%;
	margin-bottom: 5%;
}

/* @media (max-width: 1000px) {
	h2 {
		font-size: 5rem;
		text-align: center;
	}
	p {
		font-size: 2rem;
		text-align: center;
	}
	h4 {
		font-size: 1.4rem;
	}
}

@media ( max-width: 800px ) {
	h2 {
		font-size: 3.5rem;
		text-align: center;
		margin-top: 12.5%;
	}
	p {
		font-size: 1.7rem;
		text-align: center;
	}
	h4 {
		font-size: 1.25rem;
	}
	h5 {
		font-size: 1rem;
	}
	footer {
		margin-top: 5%;
	}
} */

@media ( min-width: 500px ) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1rem;
	}
	h2 {
		font-size: 2.5rem;
		text-align: center;
		margin-top: 15%;
	}
	p {
		font-size: 1.5rem;
		text-align: center;
		margin-top: 3%;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: .75rem;
		margin-left: 15%;
	}
	footer {
		margin-top: 35%;
	}
}

@media ( max-width: 499px ) {
	header {
		display: flex;
		flex-direction: column;
	}
	div.title {
		font-size: 2rem;
		display: flex;
		justify-content: center;
		margin-bottom: 5%;
	}
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 60%;
	}
	nav a {
		font-size: 1.5rem;
		justify-content: space-between;
	}
	h2 {
		font-size: 2.5rem;
		text-align: center;
		margin-top: 25%;
	}
	p {
		font-size: 1.5rem;
		text-align: center;
		margin-top: 3%;
	}
	h4 {
		font-size: .75rem;
	}
	h5 {
		font-size: .5rem;
		margin-left: 15%;
	}
	footer {
		margin-top: 33%;	
	}
}